#book{
    background-image: url('../assets/images/clinicroom.jpg');
    filter: grayscale(30%);
    background-size: cover;
    background-position: center;
    label{
        color: white;
    }
}
.form-control, .form-select {
    padding: 10px !important;
    font-size: 1.1rem;
}
.book-button{
    padding: 12px !important;
}
.card-item{
    margin: 10px;
    width: 360px;
    margin: 10px auto 10px auto;
    border-radius: 20px;
}
.card-item:hover{
    transform: translateY(-6px);
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.08);
}
.text-justify{
    text-align: justify;
}
.profile-images{
    width: 200px;
    height: 200px;
}
.circle-5{
    width: 120px;
    height: 120px;
}
#message.form-control{
    height: 120px !important;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%) sepia(100%) saturate(1000%) hue-rotate(200deg);
}
.carousel-indicators {
  filter: invert(100%) sepia(100%) saturate(1000%) hue-rotate(200deg);
  bottom: -50px;
}
.carousel {
  padding-bottom: 60px;
}
#icon{
    width: 30px;
    height: 30px;
}
.service-icons{
    width: 45px;
    height: 45px;
}
.review-card {
  border-radius: 18px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.review-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.08);
}

.review-avatar {
  width: 55px;
  height: 55px;
  object-fit: cover;
}
.value-images{
    width: 40px;
    height: 40px;
}
.booking-card{
    background-image: url(/assets/images/clinicroom.jpg);
    filter: grayscale(40%);
    background-size: cover;
    border-radius: 10px;
}
#mobileMenu{
    width: 280px;
}
@media(max-width:767px){
    #hero-image{
        display: none;
    }
    
    .stack-cards , .review-cards{
    position: relative;
    padding-bottom: 100px;
  }

  .stack-cards .card-item , .review-cards .review-container{
    width: 100%;
    position: sticky;
    top: 90px;
    margin-bottom: 30px;
    z-index: 1;
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .stack-cards .card-item:nth-child(3) { z-index: 2; }
  .stack-cards .card-item:nth-child(4) { z-index: 3; }
  .stack-cards .card-item:nth-child(5) { z-index: 4; }
  .stack-cards .card-item:nth-child(6) { z-index: 5; }
  .stack-cards .card-item:nth-child(7) { z-index: 6; }
  .principle-cards .card {
    width: 100%;
  }
}
@media(max-width:493px){
    .booking-buttons{
        flex-direction: column;
        gap: 10px;
        a{
            padding: 8px 0px 8px 0px !important;
        }
    }
}