#Home{
    background-color: rgb(142, 199, 245) !important;
}
#booking-illustration{
    .booking-card{
        border-radius: 20px;
        background-color: rgb(190, 217, 240);
    }
}
.service-images{
    width: 280px;
    height: 280px;
    object-fit: cover;
}
.service-row{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px ;
    padding: 40px 30px 40px 30px !important;
    p{
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}
#booking{
    border-radius: 20px;
}